<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "DidIt | What did you do today?" %></title>
    <%= stylesheet_link_tag "reset","typography","application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id='logo'><div id='logo_typography'>Did it</div></div>
	<div id='login'>
		<% if current_user %>
			<%= image_tag avatar_url(current_user) %> Welcome, <%= current_user.name %>!
			Not you? <%= link_to "Sign Out", signout_path %>
		<% else %>
			<%= link_to "Sign in with Doit.im", '/auth/doit'%>
		<% end %>
	</div>
    <div id="container">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
